.caption {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 10px;
}

.spotlight-description {
    font-weight: 200;
    color: #acdbf5;
    margin-bottom: 10px;
}

.discount-percent {
    font-size: 26px;
    font-weight: bold;
    padding: 0 5px;
    background-color: #4c6b22;
    color: var(--secondary-color);
}

.discount-price-original {
    position: relative;
    color: #738895;
    font-size: 11px;
    line-height: 12px;
}

.discount-price-original::before {
    content: '';
    left: 0px;
    right: 0px;
    position: absolute;
    top: 43%;
    border-bottom: 1.5px solid #738895;
    transform: skewY(-8deg);
    box-shadow: 0 0 2px black;
}

.discount-price-final {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 15px;
}

.outlined-btn {
    color: var(--primary-color);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    text-decoration: none;
    padding: 3px 15px;
    transition: all 0.1s ease-in-out;
}

.outlined-btn:hover {
    border-color: var(--primary-color);
}
